
*{
    font-size: 20px;
    font-family: arial;
    
}
header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}
header p,h1{
    font-size: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
}

.content {
    flex: 2;
    padding: 1em;
    background-color: #fff;
    margin-right: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
    flex: 1;
    padding: 1em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form h1, h2, h3 {
    color: #333;
}

.form ul {
    list-style-type: disc;
    margin-left: 20px;
}

.form label {
    display: block;
    margin-top: 10px;
}

.form input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

.form button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.form button:hover {
    background-color: #555;
}

.form footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
}
