
.wrapper
{
    margin-top: 100px;
    width:600px;
    background: rgb(203, 122, 203);
    color: white;
    height: 550px;
    font-size: 20px;
    font-family: arial;
    border-radius: 50px;
   
}
.wrapper .login-register{
    margin-left: 170px;
   
 }
 .wrapper .login-register a
 {
    height: 50px;
    background-color: white;
    padding: 10px 20px;

    margin-left: 20px;
    border-radius: 10px;
   
 
 }

.wrapper .login-register{
    margin-left: 170px;
    margin-bottom: 20px;
   
   
 }
.wrapper label{
      margin-top: 5px;
     margin-left: 150px;
}
.wrapper input{
    margin-top: 5px;
    margin-left: 150px;
    height: 30px;
    vertical-align: middle;
    width: 50%;
    border-radius: 10px;

    
}
.wrapper button{
    margin-left: 220px;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 20px;
}
.adjust-login{
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
}
.wrapper .login-register .login-1
{
    background-color: blue;
    
}



